header {
    display: flex;
    justify-content: space-between;

    /* height: 15vh;
    width: 100vw; */
}
/* 
.header div {
    height: 7vh;
    width: 9vw;
}

.header div img {
    height: 100%;
    width: 100%;
} */

#logo {
    height: 2vh;
    width: 5vw;
}

#user {
    height: 3vh;
    width: 3vh;
    border-radius: 100%;
}

#left {
    display: flex;
    justify-content: flex-start;
}

#right {
    display: flex;
    justify-content: flex-end;
}