.main {
    display: grid;
    /* grid-template-rows: 12% 8% 5% 50%; */
}
.banner {
    width: 100%;
    height: 100%;
}
.banner div img {
    width: 100%;
    height: 100%;
}
.channel {
    border: black solid 2px;
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
}
.channel div {
    border: black solid 2px;
    display: flex;
}
#mtv-logo {
    height: 10vh;
    width: 10vh;
    border-radius: 100%;
}
.mtv {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 10px;
}
.channel form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 40px;
}
.channel form input {
    height: 30px;
    width: 100px;
    background-color: var(--youtube-red);
    color: var(--youtube-white);
}
.pages nav ul {
    display: flex;
    justify-content: space-evenly;
    /* align-self/align-items: flex-start; */
    margin-left: -100px;
}

.pages nav ul li {
    display: flex;
    justify-content: center;
    color: var(--youtube-dark-grey);
}

#videos-selected {
    width: 120px;
    color: var(--youtube-black);
    background-color: var(--youtube-light-grey);
    border-bottom: solid var(--youtube-dark-grey);
}