.video-section {
    display: flex;
    flex-direction: column;
}

.videos-top {
    display: flex;
    flex-direction: row;
}

.videos-bottom {
    display: flex;
    flex-direction: row;
}

.thumbnail div img {
    height: 90%;
    width: 90%;
}

