.video-section {
    display: flex;
    flex-direction: column;
}

.videos-top {
    display: flex;
    flex-direction: row;
}

.videos-bottom {
    display: flex;
    flex-direction: row;
}

.thumbnail div img {
    height: 20vh;
    width: 17vw;
}

.video-length {
    width: 2.3vw;
    text-align: center;
    background-color: var(--youtube-black);
    color: var(--youtube-white);
}

.video-title {
    font-weight: 600;
    color: var(--youtube-black);
}

.viewcount {
    font-weight: 300;
    font-size: 12px;
    color: var(--youtube-dark-grey);
}